# Ignore virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
